<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a  id="showBook"   href="showBook" class="navbar-brand">Ver Libros</a>
      
      <a  id="CreateBook" href="CreateBook" class="navbar-brand">Crear Libro</a>
      <form class="d-flex">
     
        <button class="btn btn-outline-success" (click)="regresar()" type="submit">Regresar</button>
      </form>
    </div>
  </nav>
 