 
<app-nav-bar></app-nav-bar>
<br>
  <form id="login-form" class="form" action="" method="post">
    <h3 class="text-center text-info">Ver Libros</h3>
    <div class="form-group">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Fecha</th>
                <th scope="col">Escritor</th>
 
               
              </tr>
            </thead>
            <tbody>
                <tr  *ngFor="let libro of libros;let i = index">   
                <th scope="row">{{i+1}}</th>
                <td>{{libro.nombre}}</td>
                <td>{{libro.precio}}</td>
                <td>{{libro.fecha}}</td>
                <td>{{libro.escritor}}</td>
                </tr>
                
              



 

            </tbody>
        </table>
 
    </div>
 
</form>
