<app-nav-bar></app-nav-bar>
<br>
<form id="login-form" class="form" action="" method="post">
    <h3 class="text-center text-info">Practica 2 Redes 1</h3>
    <h4 class="text-center text-info">Grupo #24</h4>
    <div class="form-group">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Carnet</th>
               
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Juan Carlos Juarez Barneond</td>
                <td>201700556</td>
               
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Alison Cristina Leiva Paredes</td>
                <td>201700378</td>
              
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Davis Francisco Edward Enriquez</td>
                <td>201700972</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Jhonnatan Enmanuel orantes garcia</td>
                <td>201709164</td>
              </tr>
            </tbody>
        </table>
      
    </div>
 
</form>
