<body>
    <div id="login">
        <h3 class="text-center text-white pt-5">Login form</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                            <h3 class="text-center text-info">Login</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">Username:</label><br>
                                <input type="text" name="username" id="username"  [(ngModel)]='user' class="form-control"> 
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Password:</label><br>
                                <input type="password" name="password" id="password"  [(ngModel)]='pass'class="form-control">
                            </div>
                            <div class="form-group">
                     
                                <button type="button"id="boton" (click)="Login()" class="btn btn-primary">Login</button>

                            </div>
                         
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
