<app-nav-bar></app-nav-bar>

<body>
    <div id="login">
        <h3 class="text-center text-white pt-5">Login form</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                            <h3 class="text-center text-info">Editar Libro</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">Nombre:</label><br>
                                <input type="text" name="username" id="username"  [(ngModel)]='nombre' class="form-control"> 
                            </div>
                            <div class="form-group">
                                <label for="precio" class="text-info">Precio:</label><br>
                                <input type="number" name="precio" id="precio"  [(ngModel)]='precio'class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="fecha" class="text-info">Fecha:</label><br>
                                <input type="date" name="fecha" id="fecha"  [(ngModel)]='fecha'class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="escritor" class="text-info">Escritor:</label><br>
                                <input type="text" name="escritor" id="escritor"  [(ngModel)]='escritor'class="form-control">
                            </div>




                            <div class="form-group">
                     
                                <button type="button" (click)="Editar()" class="btn btn-primary">Editar</button>

                            </div>
                         
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
